*{color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;}
@media only screen and (min-width: 415px) and (max-width: 1000000px){
body{background-color:#111111;}

h1{
   font-size: 60px;
   }

h3{font-size: 15px;}

p{font-size: 20px;}

.tasos1{margin-left: 50px;}

img{border-radius:15px;}

.fan{font-size:15px;
      margin: 0px;
      padding: 0px; }

.socialmedia{float: right;
             top: 50px;
             position: absolute;
             left: 1065px;}

.follow{left:1050px ;
        position: absolute;
        top: 10px;
        font-size: 15px}

.bio{position: absolute;
     top:150px;
     left:400px;}

h2{ border-bottom-color: gray;
    border-bottom-width: 2px;
    border-block-end-style: solid;
    font-size: 30px;}

.biop{position: absolute;
      left: 400px;
      top: 250px;}

.hob{
     position: absolute;
     left: 60px;
     margin-top: 15px;}

.hobp{position: absolute;
      top: 650px;
      left: 60px;}

.ball1{left: 150px;
       position: absolute;
       top: 850px;
       padding: 2px;
       margin: 2px;}

.ball2{top: 830px;
       position: absolute;
       left: 850px;
       padding: 2px;
       margin: 2px;}

.hab{position: absolute;
     top: 1300px;
     left: 60px;}

.habp{position: absolute;
      top: 1400px;
      left: 60px;
      width: 400px;}

.tasos2{position: absolute;
        top: 1400px;
        left: 500px;
        margin: 2px;
        padding: 2px;}

.tasos3{position: absolute;
        top: 1400px;
        left: 900px;
        margin: 2px;
        padding: 2px;}

.stores{position: absolute;
        left: 60px;
        top: 1850px;}

.storesp{position: absolute;
         left: 60px;
         top: 1925px;}

.myhousep{position: absolute;
          left: 60px;
          top: 2025px;
          width: 380px;}

.myhouse{position: absolute;
          top: 2050px;
          left: 700px;
          margin: 2px;
          padding: 2px;}

.nc{position: absolute;
    top: 2350px;
    left:60px;
    right: 100px;}

.ncp{position: absolute;
     top:2450px;
     left: 60px;
     
     width: 300px;}

.sinp{position: absolute;
      top: 2600px;
      left: 200px;}

.botoxp{position: absolute;
        top: 2800px;
        left: 200px;
      } 
        
.ncw{position: absolute;
     right: 300px;
     top: 2550px;}
   
.ncsp{position: absolute;
      left: 60px;
      top: 2950px;
      }

.d6{position: absolute;
    top: 3100px;
    left: 200px;
    }
   
.mple{position: absolute;
      top: 3300px;
      left: 200px;
      }

.mezza{position: absolute;
       top: 3500px;
       left: 200px;
       }

.ncs{position: absolute;
     top: 3075px;
     right: 300px;
	 width: 150px;}

.music{position:absolute;
       top:3600px;
       left: 60px;}

.musicp{position: absolute;
        top: 3650px;
        left: 60px;
        right: 60px;}

.mp{position: absolute;
    top: 3750px;
    left: 60px;
    right: 60px;}

.mazo{position: absolute;
      top: 4200px;
      left :650px;}

.notis{position: absolute;
         top: 3850px;
         left:650px;}
   
.remos{position: absolute;
       top:4200px;
       left: 60px}

.nino{position: absolute;
      top: 3850px;
      left: 60px;}
h5{color:rgba(12, 12, 12, 0.925);
   top: 4600px;
   position: absolute;
   left: 500px;
   right:500px}
}

@media only screen and (min-width: 376px) and (max-width: 414px){
body{background-color:#111111;}
	
h1{font-size:22px;
   position: absolute;
   left: 5px;
   top: 0px;
   margin: 0px;
   padding: 0px;}
p{font-size: 10px;}
h2{font-size:13px;}
h3{font-size:8px;}
h4{font-size: 8px;
   position:absolute;
   top: 10px;
   left:5px;}
img{max-width: 120px;
    border-radius: 10px;}

.tasos1{position:absolute;
        margin-left: 5px;
        top:40px;}

.bio{position: absolute;
     left: 140px;
     top: 35px;}

.biop{position:absolute;
      left: 140px;
      top: 70px;
      width: 250px;}

.socialmedia{position: absolute;
             left: 305px;
             top: 20px;}

.follow{position: absolute;
        left:300px;
        top:0px;
        padding: 0px;
        margin: 0px;}

.hob{position: absolute;
     left:5px;
     top:215px;}

.hobp{position: absolute;
      left: 5px;
      top: 255px;
      width: 400px;}

.ball1{position:absolute;
       left:20px;
       top:340px;}

.ball2{position: absolute;
       left:250px;
       top:340px;
       width: 150px;}

.hab{position:absolute;
     top:550px;
	 left: 5px;}

.habp{position:absolute;
      top: 580px;
      left:5px;
      width: 210px;}

.tasos3{position:absolute;
        top: 610px;
        left: 250px;}

.stores{position:absolute;
        top: 800px;
        left:5px;}

.storesp{position: absolute;
         top: 825px;
         left: 5px;
	     width: 400px;}

.myhouse{position: absolute;
         left: 200px;
         top: 875px;}

.myhousep{position: absolute;
         left: 5px;
         top: 865px;
         width: 120px;}

.nc{position:absolute;
    top: 1000px;
	left: 5px;
    width: 400px;}

.ncp{position:absolute;
     top:1075px;
     left:5px;
     width:150px;}

.sinp{position:absolute;
      left:50px;
      top: 1150px;}

.botoxp{position: absolute;
        left:50px;
	    top: 1250px;}

.ncw{position:absolute;
     left:220px;
     top:1130px;}

.ncsp{position:absolute;
      left:5px;
      top:1340px;
      width:250px;}

.d6{position:absolute;
    left:50px;
    top: 1400px;}

.mple{position:absolute;
      left: 50px;
      top:1500px;}

.mezza{position:absolute;
      left: 50px;
      top:1610px;}

.ncs{position: absolute;
     left: 220px;
     top: 1385px;}

.music{position:absolute;
       left: 5px;
       top:1680px;}

.musicp{position:absolute;
        left: 5px;
        top:1705px;
        width: 400px;}

.nino{position: absolute;
      left:5px;
      top: 1780px;}
	
	.notis{position: absolute;
	       left:5px;
	       top: 2000px;}
	.remos{position:absolute;
	       left: 5px;
	       top: 2220px;}
	.mazo{position:absolute;
	      left:5px;
	      top: 2440px;}
	h5{color:rgba(12, 12, 12, 0.925);
       top: 2650px;
       position: absolute;
       left: 200px;}
	.tasos2 img{display: none;}
	
	.mp{display: none;}
}

@media only screen and (max-width: 376px) {
	
	body{background-color:#111111;}
	
h1{font-size:22px;
   position: absolute;
   left: 5px;
   top: 0px;
   margin: 0px;
   padding: 0px;}
p{font-size: 10px;}
h2{font-size:13px;}
h3{font-size:8px;}
h4{font-size: 8px;
   position:absolute;
   top: 10px;
   left:5px;}
img{max-width: 120px;
    border-radius: 10px;}

.tasos1{position:absolute;
        margin-left: 5px;
        top:40px;}

.bio{position: absolute;
     left: 140px;
     top: 35px;}

.biop{position:absolute;
      left: 140px;
      top: 70px;
      width: 210px;}

.socialmedia{position: absolute;
             left: 280px;
             top: 20px;}

.follow{position: absolute;
        left:275px;
        top:0px;
        padding: 0px;
        margin: 0px;}

.hob{position: absolute;
     left:5px;
     top:215px;}

.hobp{position: absolute;
      left: 5px;
      top: 255px;
      width: 360px;}

.ball1{position:absolute;
       left:20px;
       top:340px;}

.ball2{position: absolute;
       left:200px;
       top:340px;
       width: 150px;}

.hab{position:absolute;
     top:550px;
	 left: 5px;}

.habp{position:absolute;
      top: 580px;
      left:5px;
      width: 200px;}

.tasos3{position:absolute;
        top: 620px;
        left: 220px;}

.stores{position:absolute;
        top: 800px;
        left:5px;}

.storesp{position: absolute;
         top: 825px;
         left: 5px;
	     width: 360px;}

.myhouse{position: absolute;
         left: 200px;
         top: 875px;}

.myhousep{position: absolute;
         left: 5px;
         top: 865px;
         width: 120px;}

.nc{position:absolute;
    top: 1000px;
	left: 5px;
    width: 250px;}

.ncp{position:absolute;
     top:1075px;
     left:5px;
     width:150px;}

.sinp{position:absolute;
      left:50px;
      top: 1150px;}

.botoxp{position: absolute;
        left:50px;
	    top: 1250px;}

.ncw{position:absolute;
     left:220px;
     top:1130px;}

.ncsp{position:absolute;
      left:5px;
      top:1340px;
      width:250px;}

.d6{position:absolute;
    left:50px;
    top: 1400px;}

.mple{position:absolute;
      left: 50px;
      top:1500px;}

.mezza{position:absolute;
      left: 50px;
      top:1610px;}

.ncs{position: absolute;
     left: 220px;
     top: 1385px;}

.music{position:absolute;
       left: 5px;
       top:1680px;}

.musicp{position:absolute;
        left: 5px;
        top:1705px;
        width: 360px;}

.nino{position: absolute;
      left:5px;
      top: 1780px;}
	
	.notis{position: absolute;
	       left:5px;
	       top: 2000px;}
	.remos{position:absolute;
	       left: 5px;
	       top: 2220px;}
	.mazo{position:absolute;
	      left:5px;
	      top: 2440px;}
	h5{color:rgba(12, 12, 12, 0.925);
       top: 2650px;
       position: absolute;
       left: 200px;}
	.tasos2 img{display: none;}
	
	.mp{display: none;}
}




