*{color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;}

body{background-color:#111111;}

h1{margin:0.01px;
   font-size: 60px;}

h3{margin:0.01px;
   margin-bottom: 30px;
   font-size: medium;}

.tasos1{margin-left: 50px;}

img{border-radius:15px;
    padding: 5px}

.socialmedia{top: 750px;
             position: absolute;
             left: 565px;}

.follow{left:750px ;
        position: absolute;
        top: 10px;
        font-size: initial}

.bio{font-size: 20px;
     position: absolute;
     top:150px;
     left:400px;}

h2{ border-bottom-color: gray;
    border-bottom-width: 2px;
    border-block-end-style: solid}

.biop{position: absolute;
      font-size: 20px;
      left: 400px;
      top: 250px;}

.hob{font-size: 20px;
     position: absolute;
     left: 60px;
     margin-top: 15px;}

.hobp{position: absolute;
      font-size: 20px;
      top: 650px;
      left: 60px;}

.ball1{left: 150px;
       position: absolute;
       top: 850px;
       padding: 2px;
       margin: 2px;}

.ball2{top: 830px;
       position: absolute;
       left: 850px;
       padding: 2px;
       margin: 2px;}

.hab{position: absolute;
     top: 1300px;
     left: 60px;}

.habp{position: absolute;
      top: 1400px;
      left: 60px;
      font-size: 20px;
      width: 400px;}

.tasos2{position: absolute;
        top: 1400px;
        left: 500px;
        margin: 2px;
        padding: 2px;}

.tasos3{position: absolute;
        top: 1400px;
        left: 900px;
        margin: 2px;
        padding: 2px;}

.stores{position: absolute;
        font-size: 20px;
        left: 60px;
        top: 1850px;}

.storesp{position: absolute;
         left: 60px;
         top: 1925px;
         font-size: 20px;}

.myhousep{position: absolute;
          left: 60px;
          font-size: 20px;
          top: 2025px;
          width: 380px;}

.myhouse{position: absolute;
          top: 2050px;
          left: 700px;
          margin: 2px;
          padding: 2px;}

.nc{position: absolute;
    top: 2350px;
    left:60px;
    font-size: 20px;
    right: 100px;}

.ncp{position: absolute;
     top:2450px;
     left: 60px;
     font-size: 20px;
     width: 300px;}

.sinp{position: absolute;
      top: 2600px;
      left: 200px;
      font-size: 20px;}

.botoxp{position: absolute;
        top: 2800px;
        left: 200px;
        font-size: 20px;} 
        
.ncw{position: absolute;
     right: 300px;
     top: 2550px;}
   
.ncsp{position: absolute;
      left: 60px;
      top: 2950px;
      font-size: 20px;}

.d6{position: absolute;
    top: 3100px;
    left: 200px;
    font-size: 20px;}
   
.mple{position: absolute;
      top: 3300px;
      left: 200px;
      font-size: 20px;}

.mezza{position: absolute;
       top: 3500px;
       left: 200px;
       font-size: 20px;}

.ncs{position: absolute;
     top: 3075px;
     right: 300px;}

.music{position:absolute;
       top:3600px;
       left: 60px;}

.musicp{position: absolute;
        top: 3650px;
        font-size: 20px;
        left: 60px;
        right: 60px;}

.mp{position: absolute;
    top: 3750px;
    font-size: 25px;
    left: 60px;
    right: 60px;}

.mazo{position: absolute;
      top: 4200px;
      left :650px;}

.notis{position: absolute;
         top: 3850px;
         left:650px;}
   
.remos{position: absolute;
       top:4200px;
       left: 60px}

.nino{position: absolute;
      top: 3850px;
      left: 60px;}
h5{color:rgba(12, 12, 12, 0.925);
   top: 4600px;
   position: absolute;
   left: 500px;
   right:500px;}
.container{width: auto;
           height: auto;}
